[Desktop Entry]
GenericName=Docker 3D Structure Segmentation
Name=Docker ITK-SNAP
Exec=bash -c ". /opt/itksnap/run.sh %F"
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Viewer;
Icon=itksnap
Keywords=images,segmentation,image,biomedical
PrefersNonDefaultGPU=true
