[Desktop Entry]
GenericName=3D Structure Segmentation
Name=ITK-SNAP
Exec=itksnap %F
TryExec=itksnap
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Viewer;
Icon=itksnap
Keywords=images,segmentation,image,biomedical
