layout anaconda pitn
dotenv

PROJECT_ROOT=$(expand_path "$PROJECT_ROOT")
DATA_DIR=$(expand_path "$DATA_DIR")
WRITE_DATA_DIR=$(expand_path "$WRITE_DATA_DIR")
RESULTS_DIR=$(expand_path "$RESULTS_DIR")
TMP_RESULTS_DIR=$(expand_path "$TMP_RESULTS_DIR")
