[Desktop Entry]
GenericName=Dockerized Brain Tractography Application
Name=Docker DSI-Studio
Exec=bash -c ". /opt/dsi-studio/run.sh %F"
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Viewer;
Icon=dsi_studio
Keywords=images,tractography,image,biomedical
PrefersNonDefaultGPU=true
