antspyx==0.3.3
argcomplete==1.12.3
astor==0.8.1
bids-validator==1.9.7
calmsize==0.1.3
cattrs==1.10.0
chart-studio==1.1.0
ci-info==0.3.0
ciftify==2.3.3
citeproc-py==0.6.0
click-option-group==0.5.3
colorlog==5.0.1
commonmark==0.9.1
docopt==0.6.2
duecredit==0.9.1
et-xmlfile==1.1.0
etelemetry==0.3.0
formulaic==0.3.4
fuzzywuzzy==0.18.0
glob2==0.7
interface-meta==1.3.0
isodate==0.6.1
ivy-core==1.1.10
looseversion==1.0.1
nilearn==0.7.1
nipype==1.8.3
nitime==0.9
niworkflows==1.1.12
nose==1.3.7
num2words==0.5.11
nvidia-ml-py3==7.352.0
openpyxl==3.0.10
pdbr==0.7.1
piqa==1.2.2
pitn==0.0.post1.dev194+g7b069d5.d20220819
plotly==5.10.0
prov==2.0.0
pybids==0.15.2
pydot==1.4.2
pykale==0.1.0
pylibjpeg==1.4.0
pytdc==0.3.6
python-dotenv==0.20.0
python-gdcm==3.0.15
pytorch-memlab==0.2.4
pyyaml==6.0
rdflib==6.2.0
retrying==1.3.3
rich==12.5.1
sewar==0.4.5
simplejson==3.17.6
sqlalchemy==1.3.24
sqlparse==0.4.2
svgutils==0.3.1
templateflow==0.8.1
tenacity==8.0.1
tensorly==0.7.0
termcolor==1.1.0
torchsummary==1.5.1
traits==6.4.1
transforms3d==0.3.1
xgboost==1.6.1
xlrd==2.0.1
xvfbwrapper==0.2.9
yacs==0.1.8
