# Ignore all generated medical image files, only keep scripts, configs, notebooks, etc.
*.nii.gz
*.nii
*.nrrd
*.nhrd
*.bval
*.bvals
*.bvec
*.bvecs
*.mif
*.mat
*.ffp
*.dwi
*.tck
*.vtk
*.trk
*.lta
*.pickle
*.pkl
testing/
